.DS_Store
node_modules/
dist/
mobileDist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
**/*.log
.history/

tests/**/coverage/
tests/e2e/reports
selenium-debug.log

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.local
*.tar.gz

package-lock.json
yarn.lock
.env.development
